.idea/*
*.class
.idea/workspace.xml
*__pycache__*
*.pyc
.vscode/*
avengers/axe/.idea/
avengers/axe/.vscode/
java/.idea/
training/.idea/
java/aviator/.idea/
java/aviator/aviator.iml
java/aviator/target/
avengers/axe/local.sqlite3
*.local.*
